[package]
name = "shortestpaper"
version = "0.1.1"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[profile.release]
lto = true

[dependencies]
time = "*"
rayon = "*"
wasm-bindgen = "*"
fxhash = "*"
